.usersList {
    width: 80%;
    min-width: 1000px;
    max-width: 1024px;
    min-height: 600px;
    background: white;
    margin: 0 auto;
    border-radius: 15px;
}

.usersList__content {
    width: 90%;
    display: flex;
    padding: 1em;
    box-sizing: border-box;
    gap: 1em;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin: 0 auto;
}

.usersList__header {
    display: flex;
    justify-content: flex-end;
    /* height: 40px; */
    padding: 1em;
    box-sizing: border-box;
    margin: 0 0 1em;
    border-bottom: 2px solid blue;
}

.usersList__content article {
    width: 31.75%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
    border: 1px solid blue;
    border-radius: 10px;
}

.usersList__content article label,
.usersList__content article p {
    width: 50%;
}