<div class="card border-primary mb-3">
  <div class="card-header">Administración Personal</div>
  <div class="card-body text-primary">
    <h5 class="card-title">catalogo de personas</h5>
    <div class="d-grid gap-2 col-6 mx-auto">

<div class="ard bg-blue text-black">
    <div class="card-header">
       <h5 class="card-title">
        @if(persona){
            Edición
        }@else{
            Registro
        }
         de usuarios
      </h5> 
    </div>
    <div class="card-body">
        @if(form){
            <form [formGroup] = "form" (ngSubmit)="guardar()">
                <div class="form-group row">
                  <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                  <div class="">
                    <input type="text" class="form-control col-sm-6" name="nombre" formControlName="nombre">
                  </div>
                </div>
          
                <div class="form-group row">
                  <label for="apellido" class="form-label">Apellido</label>
                  <div class="">
                    <input type="text" class="form-control" name="apellido" formControlName="apellido">
                  </div>
                </div>
          
                <div class="form-group row">
                  <label for="email" class="form-label">Fecha de nacimiento (yyyy-MM-dd)</label>
                  <div class="">
                    <input type="text" class="form-control" name="fechaNacimiento" formControlName="fechaNacimiento">
                  </div>
                </div>
        
                <div class="form-group row">
                    <label for="apellido" class="form-label">Puesto</label>
                    <div class="">
                      <input type="text" class="form-control" name="puesto" formControlName="puesto">
                    </div>
                  </div>
        
                  <div class="form-group row">
                    <label for="apellido" class="form-label">Sueldo</label>
                    <div class="">
                      <input type="text" class="form-control" name="sueldo" formControlName="sueldo">
                    </div>
                  </div>
          
                <div class="form-group row">
                  <div class="col-sm-6">
                    <button class="btn btn-outline-primary" role="button" 
                        @if(persona){
                          routerlink='/update:persona'
                        }@else{
                          routerlink='/nuevo:persona'
                        }>
                        @if(persona){
                            Actualizar datos
                        }@else{
                            Registrar nueva persona
                        }
                    </button>
          
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-outline-danger" role="button" routerLink="/">Cancelar</button>
                </div>
                </div>
              </form>
        }
        
      
  
    </div>
  </div>

    </div>    
  </div>      
</div>