<div class="card border-primary mb-3">
    <div class="card-header">Administración Personal</div>
    <div class="card-body text-primary">
      <h5 class="card-title">catalogo de personas</h5>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="button" routerLink="/nuevo">
          Registrar persona
        </button>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha nacimiento</th>
            <th>Puesto</th>
            <th>Salario</th>
            <th>
              
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            @for(persona of personas; track persona.id){
          <tr >
            <td>{{ persona.id }}</td>
            <td>{{ persona.nombre }}</td>
            <td>{{ persona.apellido }}</td>
            <td>{{ persona.fechaNacimiento | date: 'dd/MM/yyyy'}}</td>
            <td>{{ persona.puesto }}</td>
            <td>{{ persona.sueldo }}</td>
            <td>
              <button type="button" name="editar" class="btn btn-outline-primary" [routerLink]="['editar',persona.id]">editar</button>
            </td>
            <td>
              <button type="button" name="eliminar" (click)='delete(persona)' class="btn btn-outline-danger">eliminar</button>
            </td>
          </tr>
        }
        </tbody>
      </table>
  
    </div>
  </div>
  
